[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/textile.vim"]
	path = vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
	ignore = untracked
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:henrik/ack.vim.git
[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/zoomWin"]
	path = vim/bundle/zoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
	ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = git@github.com:henrik/vim-markdown-preview.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
	ignore = untracked
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:henrik/snipmate.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby-sinatra"]
	path = vim/bundle/vim-ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-indexed-search"]
	path = vim/bundle/vim-indexed-search
	url = git://github.com/henrik/vim-indexed-search.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby-runner"]
	path = vim/bundle/vim-ruby-runner
	url = git@github.com:henrik/vim-ruby-runner.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-yaml-flattener"]
	path = vim/bundle/vim-yaml-flattener
	url = git://github.com/henrik/vim-yaml-flattener.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/argtextobj.vim"]
	path = vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim
